{% extends 'base/base.html' %}

{% load static %}

{% block title %}Detail User{% endblock title %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Detail User</h1>
    <!-- <p class="mb-4"></p> -->

    <div id="alert-container"></div>

    {% if messages %}
    {% for message in messages %}
        {% if 'error' in message.tags %}
            <div class="card bg-danger text-white shadow mb-2">
                <div class="card-body">
                    {{ message }}
                </div>
            </div>
        {% elif 'success' in message.tags %}
            <div class="card bg-success text-white shadow mb-2">
                <div class="card-body">
                    {{ message }}
                </div>
            </div>
        {% endif %}
    {% endfor %}
    {% endif %}

    <div class="row">
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}" required>
            </div>
            <div class="mb-3">
                <label for="password_text" class="form-label">Password (kosongkan jika tidak diubah)</label>
                <input type="password" class="form-control" id="password_text" name="password_text">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="is_admin" name="is_admin" {% if user.is_admin %}checked{% endif %}>
                <label class="form-check-label" for="is_admin">Is Admin</label>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="is_active" name="is_active" {% if user.is_active %}checked{% endif %}>
                <label class="form-check-label" for="is_active">Is Active</label>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="is_staff" name="is_staff" {% if user.is_staff %}checked{% endif %}>
                <label class="form-check-label" for="is_staff">Is Staff</label>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

{% endblock content %}

{% block extra_js %}
<script>
    // Script untuk menampilkan gambar yang diunggah
    function loadFile(event) {
        var image = document.getElementById('profilePicture');
        image.src = URL.createObjectURL(event.target.files[0]);
        image.onload = function() {
            URL.revokeObjectURL(image.src) // Free memory
        }
    }
</script>
{% endblock extra_js %}
